

.back{
    float:right;
    margin-right: 5em;
}

.headline{
    padding: 1em;
}
.article{
    padding-right: 2em;
    float:left;
    width:60%;
}
.prop-list{
    display:block;
}
.new-prop{
    display: block;
}
.header{
    text-align: center;
}
