<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'detector/style.css'%}">
    </head>
    <body>
        <div id="article">
            <h2>{{article.headline}}</h2>
            <p>{{article.body}}</p>
        </div>
        <div id="props">
            {% for prop in article.props_set.all %}
                <p><a href="{% url 'detector:discussion' prop.id%}">{{prop.body}}</a></p>
            {% endfor %}
        </div>
        <div id="newProp">
            <form method="post" >
            {% csrf_token %}
            {{form}}
            <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </div>
    </body>
</html>