<!DOCTYPE html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'detector/style.css'%}">
    <title>Article</title>
</head>
<body>
    <div class='article-page'>
        <div class='back'>
            <a href="{% url 'detector:index' %}">Back to Articles</a>
        </div>
        <h2 class='headline'>{{article.headline}}</h2>
        <div class='article'>
            <p>{{ article.body|linebreaks }}</p>
        </div>
        <div class='props'>
            <div class='prop-list'>
                {% for prop in article.props_set.all %}
                    <p><a href="{% url 'detector:discussion' prop.id%}">    {{prop.body}}</a></p>
                {% endfor %}
            </div>
            <div class='new-prop'>
                <form method="post" >
                    {% csrf_token %}
                    {{form}}
                    <button type="submit" class="btn btn-default">Submit    </button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
