<html>
    <head>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'detector/style.css'%}">
    </head>
    <body>
        <h2 class='header'>Welcome to I Call Bullshit</h2>
        <div style='float:right; margin-right: 5em;'>
            <a href="create_article">Add New Article</a>
        </div>
        <table>
            <thead>
                <tr>
                    <td>
                        Article
                    </td>
                    <td style='padding-left: 10em'>
                        Propaganda
                    </td>
                </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <td id='article'>
                        <a href="{% url 'detector:detail' article.id %}">{{article}}</a><br>
                    </td>
                    {% for prop in article.props_set.all %}
                        <tr>
                            <td id='props'>
                                <a href="{% url 'detector:discussion' prop.id%}">{{prop.body}}</a><br>
                            </td>
                        </tr>
                    {% endfor %}
                </tr>
            </tbody>
            {% empty %}
                <li>There are currently no articles</li>
            {% endfor %}
        </table>
    </body>
</html>
